[submodule "apps/cine"]
	path = ferzeg-py4web/apps/cine
	url = https://github.com/ferzeg3420/cine.git
[submodule "apps/poker"]
	path = ferzeg-py4web/apps/poker
	url = https://github.com/ferzeg3420/poker_dealer.git
[submodule "ferzeg-py4web/apps/_default"]
    path = ferzeg-py4web/apps/_default
    url = https://github.com/ferzeg3420/py4web_personal_page.git
[submodule "ferzeg-py4web/apps/timers"]
    path = ferzeg-py4web/apps/timers
    url = https://github.com/ferzeg3420/py4web_timers.git
[submodule "apps/_default/personal_page_v2"]
	path = ferzeg-py4web/apps/_default/personal_page_v2
	url = https://github.com/ferzeg3420/personal_page_v2.git
[submodule "apps/timers/static/timersWebpack"]
	path = ferzeg-py4web/apps/timers/static/timersWebpack
	url = https://github.com/ferzeg3420/timers.git
