bottle==0.12.19
bottle-websocket==0.2.9
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.0.0
gunicorn==20.1.0
idna==2.10
joblib==1.0.1
numpy==1.20.2
pandas==1.2.4
pluralize==0.1.6
py4web==1.20210426.1
pydal==20210215.1
PyJWT==2.1.0
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
scikit-learn==0.24.2
scipy==1.6.3
six==1.15.0
sklearn==0.0
threadpoolctl==2.1.0
threadsafevariable==1.1
tornado==6.1
urllib3==1.26.4
watchgod==0.7
yatl==20210326.1
zope.event==4.5.0
zope.interface==5.4.0
